<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haivu.frogtutoring">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Search" />
        <activity android:name=".SignUp" />
        <activity android:name=".forgotpass" />
        <activity android:name=".profile" />
        <activity android:name=".appointment" />
        <activity android:name=".viewtutor" />
        <activity android:name=".profile_tutor" />
        <activity android:name=".edit_tutor_profile" />
        <activity android:name=".tutor_schedule" />
        <activity android:name=".payment" />
        <activity android:name=".make_review" />
        <activity android:name=".contact_us" />
        <activity android:name=".legal"></activity>
    </application>

</manifest>